h1{
    text-align:center;
    font-size:40px;
}
.gallery{
    width:100%;
    height:80%;
    display: flex;
    margin:5% auto 0;
    box-sizing: border-box;
    
}
.image-gallery{
    width:100%;
    margin-left:2%;
    flex-grow:1;
    flex-basis:0;
    transition:0.5s;
}
.image-gallery img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.5s;

}
.image-gallery:hover{
    flex-basis:30%;
}